/*
skins available:
	- sweet
	- powerful
	- charming
*/

/* the container */
.allinone_carousel_SM {
	position:relative;
}
.allinone_carousel_SM img {
	max-width:none;
	max-height:none;
}
.allinone_carousel_list_SM {
	margin:0;
	padding:0;
	list-style:none;
	display:none;
}

.allinone_carousel_SM .contentHolder {
	position:relative;
	overflow:hidden;
	left:10px;
	top: 38px;
	border:2px solid red;
}
.mycanvas {
	display: none;
	position:absolute;
	top:8px;
	right:10px;
	z-index:-90;
}

.myloader {
	/*background:url(skins/loader.gif);
	width:37px;
	height:37px;*/
	position:absolute;
	left:49%;
	top:49%;
	z-index:999;
}


/***charming SKIN***/

.allinone_carousel_SM.charming .SM_contentHolderUnit {
	position:absolute;
	/*float:left;
	display:block;*/
	width:440px;
	height:302px;
	overflow:hidden;
	/*cursor: pointer;*/
	/*background:url(skins/charming/empty.gif) repeat;*/
}

.SM_contentHolderUnit img{
	/*width:210px !important;*/
}


.allinone_carousel_SM.charming .elementTitle {
	position:absolute;
	left:0;
	top:40px;
	width:100%;
	text-align:center;
	font: bold 22px/30px 'Droid Sans', Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
	text-transform:capitalize;
}



.allinone_carousel_SM.charming .playOver {
	position:absolute;
	width:73px;
	height:73px;
	/*background:url(skins/charming/play_overOFF.png) 0 0 no-repeat;*/
	display:none;
	z-index:200;
	/*cursor: pointer;*/
}

.allinone_carousel_SM.charming .playOver:hover {
	/*background:url(skins/charming/play_overON.png) 0 0 no-repeat;*/
	display:none;
	z-index:200;
	/*cursor: pointer;*/
}

.allinone_carousel_SM.charming .bannerControls {
	position:absolute;
	left:0;
	top:70px;
	z-index:101;
	width:100%;
}

.allinone_carousel_SM.charming .leftNav {
	position:absolute;
	left:5px;
	width:47px;
	height:47px;
	border: 2px solid blue;
	/*background:url(skins/charming/leftNavOFF.png) 0 0 no-repeat;*/
	/*cursor: pointer;*/
}
.allinone_carousel_SM.charming .leftNav:hover {
	/*background:url(skins/charming/leftNavON.png) 0 0 no-repeat;*/
}
.allinone_carousel_SM.charming .rightNav {
	position:absolute;
	right:5px;
	width:47px;
	height:47px;
	/*background:url(skins/charming/rightNavOFF.png) 0 0 no-repeat;*/
	/*cursor: pointer;*/
}
.allinone_carousel_SM.charming .rightNav:hover {
	/*background:url(skins/charming/rightNavON.png) 0 0 no-repeat;*/
}
.allinone_carousel_SM.charming .bottomNav {
	position:absolute;
	height:35px;
	width:0;
	padding-left:9px;
	z-index:140;
}
.allinone_carousel_SM.charming .bottomNavButtonOFF {
	float:left;
	display:block;
	width:19px;
	height:19px;
	/*background:url(skins/charming/bottomNavOFF.png) 0 0 no-repeat;*/
	padding-left:9px;
	/*cursor: pointer;*/
}

.allinone_carousel_SM.charming .bottomNavButtonON_SM {
	float:left;
	display:block;
	width:19px;
	height:19px;
	padding-left:9px;
	/*background:url(skins/charming/bottomNavON.png) 0 0 no-repeat;*/
	/*cursor: pointer;*/
}

.allinone_carousel_SM.charming .bottomNavLeft {
	display:none;
	position:absolute;
	z-index:140;
}
.allinone_carousel_SM.charming .bottomNavRight {
	display:none;
	position:absolute;
	z-index:140;
}

.allinone_carousel_SM.charming .bottomOverThumb {
	position:absolute;
	width:88px;
	height:106px;
	/*background:url(skins/charming/bottomOverThumbBg.png) 23px bottom no-repeat;*/
	bottom:27px;
	xleft:0px;
	margin-left:-25px;
}
.allinone_carousel_SM.charming .bottomOverThumb img {
	border:4px solid #22032e;
}


/*******/

/***sweet SKIN***/

.allinone_carousel_SM.sweet .SM_contentHolderUnit {
	position:absolute;
	/*float:left;
	display:block;*/
	width:520px;
	height:385px;
	overflow:hidden;
	/*cursor: pointer;*/
	/*border:1px #F00 solid;
	background:url(skins/sweet/empty.gif) repeat;*/
}


.allinone_carousel_SM.sweet .elementTitle {
	position:absolute;
	left:0;
	top:15px;
	width:100%;
	text-align:center;
	font: bold 22px/30px 'Droid Sans', Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
	text-transform:capitalize;
}
.allinone_carousel_SM.sweet .playOver {
	position:absolute;
	width:100px;
	height:70px;
	/*background:url(skins/sweet/play_overON.png) 0 0 no-repeat;*/
	display:none;
	z-index:200;
	/*cursor: pointer;*/
}

.allinone_carousel_SM.sweet .playOver:hover {
	/*background:url(skins/sweet/play_overOFF.png) 0 0 no-repeat;*/
	display:none;
	z-index:200;
	/*cursor: pointer;*/
}

.allinone_carousel_SM.sweet .bannerControls {
	position:absolute;
	left:0;
	top:0;
	z-index:101;
	width:100%;
}

.allinone_carousel_SM.sweet .leftNav {
	position:absolute;
	left:-5px;
	width:110px;
	height:157px;
	/*background:url(skins/sweet/leftNavOFF.png) 0 0 no-repeat;*/
	/*cursor: pointer;*/
}
.allinone_carousel_SM.sweet .leftNav:hover {
	/*background:url(skins/sweet/leftNavON.png) 0 0 no-repeat;*/
}
.allinone_carousel_SM.sweet .rightNav {
	position:absolute;
	right:-5px;
	width:110px;
	height:157px;
	border: 2px solid blue;
	/*background:url(skins/sweet/rightNavOFF.png) 0 0 no-repeat;*/
	/*cursor: pointer;*/
}
.allinone_carousel_SM.sweet .rightNav:hover {
	/*background:url(skins/sweet/rightNavON.png) 0 0 no-repeat;*/
}
.allinone_carousel_SM.sweet .bottomNav {
	position:absolute;
	height:35px;
	width:0;
	padding-left:9px;
	z-index:140;
}
.allinone_carousel_SM.sweet .bottomNavButtonOFF {
	float:left;
	display:block;
	width:11px;
	height:11px;
	/*background:url(skins/sweet/bottomNavOFF.png) 0 0 no-repeat;*/
	padding-left:9px;
	/*cursor: pointer;*/
}

.allinone_carousel_SM.sweet .bottomNavButtonON _SM{
	float:left;
	display:block;
	width:11px;
	height:11px;
	padding-left:9px;
	/*background:url(skins/sweet/bottomNavON.png) 0 0 no-repeat;*/
	/*cursor: pointer;*/
}

.allinone_carousel_SM.sweet .bottomNavLeft {
	position:absolute;
	width:63px;
	height:35px;
	bottom:-10px;
	z-index:140;
}
.allinone_carousel_SM.sweet .bottomNavRight {
	position:absolute;
	width:63px;
	height:35px;
	bottom:-10px;
	z-index:140;
}

.allinone_carousel_SM.sweet .bottomOverThumb {
	position:absolute;
	width:88px;
	height:106px;
	/*background:url(skins/sweet/bottomOverThumbBg.png) 23px bottom no-repeat;*/
	bottom:27px;
	margin-left:-25px;
}
.allinone_carousel_SM.sweet .bottomOverThumb img {
	border:4px solid #FFFFFF;
}







/***powerful SKIN***/
.allinone_carousel_SM.powerful .SM_contentHolderUnit {
    position:absolute;
    /*float:left;
    display:block;*/
    
	
    overflow:hidden;
    cursor: pointer;
    /*background:url(skins/powerful/empty.gif) repeat;*/
}


#SM_carouselParent_MINI
{
	position :absolute;
	margin-left: 700px;
	left: 230px;
	top: 690px;
}
/*.allinone_carousel_SM.powerful .contentHolderUnit {
	position:absolute;
	
	width:326px;
	height:329px;
	overflow:hidden;
	cursor: pointer;
	
}*/

.allinone_carousel_SM.powerful .elementTitle {
	position:absolute;
	left:0;
	top:370px;
	width:100%;
	text-align:center;
	font: bold 16px/25px 'Droid Sans', Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
	text-transform: uppercase;
}
.allinone_carousel_SM.powerful .playOver {
	position:absolute;
	width:100px;
	height:100px;
	/*background:url(skins/powerful/play_over.png) 0 0 no-repeat;*/
	display:none;
	z-index:200;
	/*cursor: pointer;*/
}

.allinone_carousel_SM.powerful .playOver:hover {
	/*background:url(skins/powerful/play_over2.png) 0 0 no-repeat;*/

	display:none;
	z-index:200;
	/*cursor: pointer;*/
}

.text {
	position:absolute;
	left:0;
	width:100%;
	text-align:center;
	font-weight: normal;
	color:#FFFFFF;
	text-transform: none;
}


.allinone_carousel_SM.powerful .bannerControls {
	position:absolute;
	left:0;
	top:0;
	z-index:101;
	width:100%;
}

.allinone_carousel_SM.powerful .leftNav {
	position:absolute;
	width:20px;
	height:10px;
	
	right: 170px;
	bottom: 42px;
	cursor: pointer;
}

.allinone_carousel_SM.powerful .rightNav {
	position:absolute;
	width:20px;
	height:10px;
	
	left: 155px;
	right: 170px;
	bottom: 42px;

	cursor: pointer;
}





.hideElement {
	display:none;
}

