/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    /*font-size: 1em;
    line-height: 1.4;*/
	font-family: Arial;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.imageFont
{
	color: white;
	font-size:25px;
	font-family:MyriadPro-Bold;
}

#loadingContainer
{
	width:inherit;
	height:inherit;
	background: url('../img/splash/splash.jpg') no-repeat;
	background-size:100%;
	position: absolute;
	display: block;
	
}

.answer_txt
{
	background:none;
	border:none; 
	position: absolute;
	text-align: left;
	font-size: 13px;
	outline:none;
}


/* Developer -  deviator*/


#loading_script_tags
{
	width:905px;
	height:600px;
	margin:0 auto;
	background-color:black;
	
}

.reflectBelow {
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}

.loading_script_tags_image
{
	margin:0 auto;
	/*background-color:black;*/
	
}
.outerDiv{
	/*width:905px;*/
	width:902px;
	height:619px;
	margin:0 auto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select:none;
}
.mainDiv{
	
	width: 878px;
	height: 595px;
	border: #DDCC70 solid 12px;
}

#loadingScreen
{
	display: block;
	margin-top: 180px;
	/*margin-left: 250px;*/
	
}

.loaderText_css
{
	color: black;
	font-size: 24px;
	position: absolute;
	margin-left: 100px;
	margin-top: 70px;
}
.screen{
	height:100%;
	width:100%;
	position:relative;
	display:block;
}

/* Screen 1 */

.headerlogo{
	/*background:url(../images/image2.png) no-repeat;*/
	width: 120px;
	height: 130px;
	position: absolute;
	top: 66px;
	left: 82px;
	float: left;
}

.screen1Txt{
	color: #666;
	font-size: 22px;
	left: 83px;
	line-height: 35px;
	position: absolute;
	top: 245px;
	float: left;
}

.button{
	background-color:#ccc;
	color:#666;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	line-height: 39px;
	cursor: pointer;
}

.button:hover{
	background-color:#666;
	color:#fff;
}

.eneterGameButton{
	position:absolute;
	height:40px;
	width:135px;
	bottom:55px;
	right:72px;
	float:left;
}
/* Screen 1 end */


/* Screen 2 */

.screen2Logo{
/*	background:url(../images/image4.png) no-repeat;*/
	position: absolute;
	width: 397px;
	height: 126px;
	top: 63px;
	left: 78px;
	float: left;
}

.buttonsDiv{
	position: absolute;
	top: 260px;
	left: 75px;
	width: 300px;
	height: 40px;
	float: left;
}

.howToPlayButton{
	position: static;
	height: 40px;
	width: 130px;
	top: 50px;
	float: left;
}

.playGameButton{
	position: static;
	height: 40px;
	width: 140px;
	top: 50px;
	float: left;
	margin-left: 15px;
}


.caraousalCardImg{
	/*background:url(../images/image3.png) no-repeat;*/
	position: absolute;
	width: 513px;
	height: 354px;
	bottom: 15px;
	right: 15px;
	float: left;
	background-repeat: no-repeat;
}
/* Screen 2 end */


/* Screen 3 */
.howToPlayDiv{
	color: #666666;
    font-size: 16px;
    left: 64px;
    position: relative;
    top: 80px;
	float:left;
	height:350px;
	width:80%;
	font-weight:500;
}

.howToPlayDiv b {
	color: #666666;
    font-size: 24px;
}

.howToPlayDiv p {
	color: #666666;
    font-size: 16px;
	font-weight:bold;
}

.howToPlayDiv li {
	line-height:28px;
}

.backButton{
	position: static;
	height: 40px;
	width: 65px;
	top: 50px;
	float: left;
}

.playButton{
	position: static;
	height: 40px;
	width: 95px;
	top: 50px;
	float: left;
}

.buttonsDivPage3{
	position: absolute;
    bottom: 30px;
	left:90px;
	width:200px;
	height:40px;
	float:left;
}

.caraousalCardImgPage3{
/*	background:url(../images/image3.png) no-repeat;*/
	background-size:360px;
	width:360px;
	height:250px;
	position:absolute;
	bottom: -30px;
	right: -45px;
	float:left;
		background-size: 80%;
	background-repeat: no-repeat;
}

/* Screen 3 */

.timeLeftDiv{
	width:300px;
	height:73px;
	left:30px;
	position:relative;
	float:left;
	margin-left: 16px;
	/*border:#33CC33 solid 1px;*/
}

.pointsDiv{
	width: 270px;
	height: 73px;
	position: relative;
	float: left;
	margin-left: 77px;
}

.backButtonDiv{
	width: 264px;
	height: 73px;
	position: relative;
	float: right;
	margin-right: -31px;
}

.footerTxt{
	color: white;
	font-size: 22px;
	font-weight: bold;
	line-height: 73px;
}

.footerNum{
	color: #DDCC70;
	font-size: 22px;
	font-weight: bold;
	line-height: 74px;
}

/* Screen 4 */
.caraousalDiv{
    padding:20px;
    position: relative;
    top: 0px;
	float:left;
	height:100%;
	width:100%;
	border:#00CC00 solid 1px;
}

/*.greyBottom{
	background-color: #777788;
    border-top: 13px solid #DDCC70;
    bottom: 54px;
    height: 92px;
    margin-left: -13px;
    position: relative;
    width: 931px;
}*/
.greyBottom{
    /*background-color: #777788;*/
    background: url(../../PublishingImages/images/grey-footer.png) repeat-x;
	border-top: 12px solid #DDCC70;
	bottom: 54px;
	height: 73px;
	margin-left: -11px;
	position: relative;
	width: 901px;
}

.backButtonFooter{
	position: absolute;
	height: 35px;
	width: 65px;
	bottom: 19px;
	right: 62px;
	float: right;
}


.helpButtonFooter{
	position: absolute;
	height: 35px;
	width: 65px;
	bottom: 19px;
right: 170px;
	float: right;
}


.introButtonFooter{
	position: absolute;
	height: 35px;
	width: 65px;
	bottom: 19px;
	right: 280px;
	float: right;
}
/* Screen 4 */

/* Screen 5 */
/*.gameScreenLogo{
	
	background-size:120px;
	width:120px;
	height:40px;
	position:relative;
	top:30px;
	left:34px;
}
*/
.gameScreenLogo{
    /*background:url(../images/image4.png) no-repeat;*/
    background-size:120px;
    width:120px;
    height:38px;
    position:relative;
    top:30px;
    left:34px;
}


.gameImg{
	/*height:400px;
	width:300px;*/
	position:relative;
	top:73px;
	left:10px;
	float:left;
}

.questionTxt{
	/*height:150px;*/
	width:350px;
	position:relative;
	float:right;
	top:45px;
	right:91px;
	/*border:#9C201E solid 1px;*/
}
.questionTxt p{
	font-size:26px;
	font-weight:bold;
	color: #992222 !Important;
	font-family: Arial Bold !Important;
}

.answerDiv{
	height:360px;
	width:350px;
	position:relative;
	float:right;
	top:65px;
	right:91px;
	font-family: Arial Regular !Important;
	/*border:#9C201E solid 1px;*/
}

.ans{	
	height: auto;
	width: 90%;
	background: #A8DDEF;
	color:  #050505;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	padding: 13px;
	cursor: pointer;
}
.ans:hover{
	background-color:#9C201E;
	color:#FFFFFF;
}
	
.ansSpace{
	height:7px;
	width:100%;
}
/* Screen 5 */

/* Screen 6 */

.explnDiv{
	/*height:250px;*/
	width:400px;
	position:relative;
	float:right;
	top:30px;
	right:40px;
	/*font-family:  RotisSansSerifforACCN Bold!Important;
	
	border:#9C201E solid 1px;*/
}

.explnDiv p{
	color: #666;
	font-size: 18px;
	line-height: 24px;
}

.nextQues{
	position: absolute;
	height: 35px;
	width: 165px;
	margin-top: 240px;
	float: right;
	left: 436px;
	bottom: 91px;
	font-size: 18px;
	line-height: 24px;
}

/* Screen 6 */

/* Screen 7 */

.finalScreen{
	/*background:url(../images/image7.png) no-repeat;*/
	background-size:100% 100%;
	height:550px;
	width:800px;
	/*width:910px;*/
	z-index:-1;
}

.congratsTxt{
	position:relative;
	height:35px;
	width:165px;
	top:200px;
	left:90px;
	color:#9C201E;
	font-size:40px;
	font-weight:bold;
}

.conMsg{
	position:relative;
	height:35px;
	width:605px;
	top:210px;
	left:90px;
	color:#5376A1;
	font-size:28px;
	font-weight:bold;
}


.overlayScreenCSS_ForQuestion {
top: 328px;
height: 638px;
width: 900px;
display: none;
position: absolute;
z-index: 10;
z-index: 300;
margin-left: -11px;
}

.overlayScreenCSS_ForQuestion1 {
	
height: 636px;
width: 900px;
display: none;
position: absolute;
z-index: 10;
background-color: black;
opacity: 0.7;

}

.opaqueScreenCSS_ForQuestion {
	font-family: verdana,arial,helvetica,sans-serif;
	color: white;
	background-color:#9C9999;
	font-size: 34px;
	width: 420px;
	height: 103px;
	position: absolute;
	top: 170px;
	left: 236px;
	display: none;
	text-align:center;
	padding-top:78px;
	font-style:24px;
	opacity: 0.95;
	
}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
